INFURA_API_KEY="INFURA_API_KEY"
# The private key of the account that will deploy the contracts
PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
WALLET_ADDRESS="0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
# Block explorer API keys
ETHERSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
OPSEPOLIA_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
POLYGON_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"